* {
    box-sizing: border-box;
  }
  
  body {
    font-family: "Helvetica Neue", Helvetica, sans-serif;
    font-size: 16px;
    font-weight: bold;
    margin: 0;
    padding: 0;
    background-color:darkred;
    color: aliceblue;
  }
  
  h1 {
    text-transform: uppercase;
    text-align: center;
    margin: 20px 0;
    color: aliceblue;
  }
  
  #search-form {
    text-align: center;
    margin-bottom: 30px;
  }
  
  #search-button {
    border-radius: 8px;
    
  }
  
  .gif-container {
    align-items: flex-start; 
    height: 40vh;
    width: 80%;
    background-color:brown;
    margin: 0 auto;
  }
  
