body {
    background-image: linear-gradient(to bottom right, black, rgb(84, 0, 92));
    background-attachment: fixed;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: white;
    display:flex;
    justify-content: center;
    flex-direction: column;
}

.icon {
    display: flex;
    align-items: center;
    margin-right: 20px;
}

#header-box {
    margin: 0px;
    padding: 20px;
    display: flex;
    flex-direction: horizontal;
    align-items: center;
    justify-content: center;
    height: 90px;
}

.header {
    font-weight: bold;
    letter-spacing: 3px;
    font-size: 40px;
}

#movies-grid {
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    flex-basis: 100%;
}

.movie-card{
    display: flex;
    flex-basis: 100%;
    margin: 30px; 
    padding: 30px;
    border: rgb(91, 72, 93);
    border-style: dashed;
    flex-direction: column;
    max-width: 300px;
    flex-wrap: wrap;
}

.movie-poster {
    max-width: 280px;
}

.movie-text {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
}

.movie-votes {
    font-size: 20px;
    margin-bottom: 0px;;
}

.fa-star {
    color: gold;
    margin-right: 10px;
}

.movie-title {
    margin-top: 6px;
    font-size: 25px;
}

#search-bar {
    display: flex;
    justify-content: center;
    flex-direction: row;
    margin-bottom: 40px;
}

#search {
    display: flex;
    align-items: center;
    flex: 0.9;
}

#search-input {
    opacity: 60%;
    height: 30px;
    flex: 5;
}

.search-button {
    height: 36px;
    width: 36px;
    margin: 5px;
}


#load-more-movies-btn {
  background-color: rgb(91, 72, 93);
  border: none;
  color: white;
  padding: 16px 32px;
  text-align: center;
  font-size: 16px;
  margin: 4px 2px;
  opacity: 0.6;
  transition: 0.3s;
  display: inline-block;
  text-decoration: none;
  cursor: pointer;
}

#load-more-movies-btn:hover {
    opacity: 1
}