/* 
.movie{

display: flex;
flex-direction: row;

} */


body {

    background-color: black;
    color: #9a9a9a;
    font-family: Helvetica, sans-serif;


}

h1 {

    display: flex;
    justify-content: center;
    font-size: 70px;
    color: white;


}

/* img {

    width: 60%;
    height: auto;
    transition: 1s ease;
    
   
} */

.movie-poster{
    width: 300px;
    height: 500px;
    object-fit: cover;
    transition: 1s ease;

}


.movie-poster:hover{
    -webkit-transform: scale(0.8);
    -ms-transform: scale(0.8);
    transform: scale(0.8);
    transition: 1s ease;
    }

.star {

    margin-right: 8px;

}

.movie-card {

    
    margin-top: 10px;
    margin-bottom: 10px;
    margin-right: 10px;
    margin-left: 10px;
    
    

}

#movie-grid {

    display: flex;
    justify-content: space-between;
    justify-content: center;
    flex-wrap: wrap;
    

}

#search-form {

    text-align: center;
 

  }

#now-playing {

    display: flex;
}

.movie-title {

    font-weight: bold;
    flex-wrap: wrap;

}

#load-more-movies-btn {
    /* margin-left: 50%;
    transform: translateX(-50%);
    margin-top: 20px;
    margin-bottom: 20px; */

    
        background-color: #000000;
        border: 2px solid #1A1A1A;
        border-radius: 15px;
        box-sizing: border-box;
        color: #FFFFFF;
        cursor: pointer;
        display: inline-block;
        font-family: Roobert,-apple-system,BlinkMacSystemFont,"Segoe UI",Helvetica,Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol";
        font-size: 16px;
        font-weight: 600;
        line-height: normal;
        margin-left: 40%;
        margin-top: 2%;
        min-height: 60px;
        min-width: 0;
        outline: none;
        text-align: center;
        transition: all 300ms cubic-bezier(.23, 1, 0.32, 1);
        user-select: none;
        -webkit-user-select: none;
        touch-action: manipulation;
        width: 20%;
        will-change: transform;
        
      }
      
#load-more-movies-btn:disabled {
        pointer-events: none;
}
      
#load-more-movies-btn:hover {
 box-shadow: rgba(116, 114, 114, 0.25) 0 8px 15px;
transform: translateY(-2px);
}
      
#load-more-movies-btn:active {
        box-shadow: none;
        transform: translateY(0);
}

/* #button-div {

    display: inline-flex;
    justify-content: center;

} */

h2{

    font-size: 40px;
    margin-left: 75px;

}

#search-button {


        background-color: #04AA6D;
        border: none;
        color: white;
        padding: 20px;
        text-align: center;
        text-decoration: none;
        display: inline-block;
        font-size: 15px;
        margin: 4px 2px;

}

#search-button{

    border-radius: 12px;


}

#search-button:hover {background-color: #3e8e41}

#search-button:active {
  background-color: #3e8e41;
  box-shadow: 0 3px #666;
  transform: translateY(1px);
}

#search-input {

    padding:20px;
    border:0;
    box-shadow:0 0 15px 4px rgba(0,0,0,0.06);
    margin: 4px 2px;
    border-radius: 12px;
    
}


#close-search-btn {


    background-color: #04AA6D;
    border: none;
    color: white;
    padding: 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 15px;
    margin: 4px 2px;

}

#close-search-btn{

border-radius: 12px;


}

#close-search-btn:hover {background-color: #3e8e41}

#close-search-btn:active {
background-color: #3e8e41;
box-shadow: 0 3px #666;
transform: translateY(1px);
}



