/* 
.movie{

display: flex;
flex-direction: row;

} */


* {

    background-color: black;
    color: #9a9a9a;
    font-family: Helvetica, sans-serif;


}

h1 {

    display: flex;
    justify-content: center;


}

img {

    width: 60%;
    height: auto;
   
}

.star {

    margin-right: 8px;

}

.movie {

    
    margin-top: 10px;
    



}

.movieContainer {

    display: flex;
    justify-content: space-between;
    justify-content: center;
    flex-wrap: wrap;

}




