body{
    background: linear-gradient(-45deg,rgb(198, 219, 240),rgb(174, 209, 230),rgb(108, 189, 255),rgb(38, 123, 153));
    background-size: 400% 400%;
    width: 100%;
    height: 100%;
    animation: animate 5s ease infinite;
}

@keyframes animate {
    0%   {background-position: 0 50%;}
    50%  {background-position: 100% 50%}
    100% {background-position: 0 50%}
}

h1{
    text-align: center;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 60px;
}

#movie-grid{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 20px 30px;
    row-gap: 30px;
    column-gap: 40px;
}

#search-form{
    text-align: center;
}

#search-label{
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 15px;
    color: black;
}
#search-input{
    border-radius: 20px;
    width: 20%;
    padding: 12px 20px;
    margin: 8px 0;
    box-sizing: border-box;
}

.average{
    font-family:system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif ;
    color:rgb(0, 0, 0);
    text-shadow: -1px 0 rgb(255, 255, 255), 0 1px white, 1px 0 white, 0 -1px white;

}

.movie-title{
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif ;
    font-size: larger;
}

.movie-card{
    text-align: center;
    width: 342px;
}
.movie-poster{
    border-radius: 20px;
    box-shadow: 1px 1px 10px 2px rgba(66, 65, 65, 0.8);
}
.movie-card:hover{
    transform: scale(1.05); 
}
#search-submit{
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 15px;
    padding: 15px;
    border-radius: 25px;
    border: 0;
    background-color: white;
}

button:hover{
    cursor: pointer;
}

#load-more-movies-btn{
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 30px;
    padding: 15px;
    border-radius: 25px;
    border: 0;
    color:white;
    background-color: black;
    margin-left: 50%;
    transform: translateX(-50%);
    margin-top: 30px;
}

#load-div{
    width: 100%;
}