/* box-model */
*,
*:before,
*:after {
  box-sizing: border-box;
}

body {
  font-family: 'Poppins', sans-serif;
  background: #080239;
  color: white;
  width: auto;
  margin: 0;
}

button {
  border: 0;
}

h1 {
  font-style: normal;
  font-weight: 800;
  font-size: 56px;
  line-height: 60px;
}

input {
  border: 0;
}

.main-header {
  display: flex;
  justify-content: center;
  align-items: center;
}

.main-header-icon {
  height: 60px;
  width: 75px;
  margin-right: 15px;
}

.sub-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-height: 60px;
}

.search-form-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: white;
}

#close-search-btn {
  width: 20px;
  height: 20px;
}
